
<div>

<h1>Mi primer ejercicio con HTML</h1>
<br/>
<p>Dice Cercas que “la novela es el género de las preguntas, 
    no el de las respuestas: en rigor, la obligación de una 
    novela no consiste en responder la pregunta que ella misma 
    se plantea, sino en formularla con la mayor complejidad 
    posible”. Esta cita también aplica a esta crónica, que nos 
    plantea una pregunta al parecer irresoluble, de la que siempre 
    se tuvo y no se tuvo respuesta: vemos al hombre que está cayendo, 
    pero no terminamos de saber quién es.</p>



</div> 